.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  background-color: rgb(254, 242, 233);
  padding-top: 12px;
  padding-bottom: 24px;
}

.title {
  font-family: "Homemade Apple", cursive;
  font-size: 36px;
}

.greeting {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  max-width: 800px;
}

.meditation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 300;
  margin-top: 24px;
}

.screens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 64px;
  margin-top: 60px;
}

.screenshots {
  width: 400px;
}

.gif {
  width: 360px;
}

.link {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 36px;
}

.rocket {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rocket_screenshots {
  width: 600px;
  margin-top: 60px;
}

.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery_screenshots {
  width: 600px;
  margin-top: 60px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: rgb(254, 242, 233);
  width: 100%;
  padding-bottom: 24px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.media_links {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.linkedin, .instagram, .telegram {
  width: 60px;
}
